body {
	background: black;
	font-family: "Handlee", cursive;
	font-style: normal;
}

* {
	border: none;
	min-height: 10px;
}
.postcard {
	background-color: white;
	width: 500px;
	height: 300px;
	margin: auto;
}
.postcard-header {
	display: flex;
}
.postcard-header img {
	width: 50px;
	height: 50px;
}
.postcard-header h1 {
	margin: 0px;
	width: 3000px;
}
.postcard-body {
	display: flex;
}
.body-left p:first-child {
	margin-top: 0%;
	font-size: 30px;
}
.body-right {
	text-decoration: underline;
	color: gainsboro;
	padding: 20px;
	margin: 0%;
}
.body-left {
	padding: 20px;
	margin: 0%;
}
input {
	font-family: "Handlee", cursive;
	border: 0px;
	border-bottom: 10%;
	line-height: 5px;
	text-decoration: underline;
}
.postcard-footer {
	text-align: center;
}
button {
	background-color: gray;
	font-family: "Handlee", cursive;
	font-style: normal;
	padding: 3px;
}
