body {
	background: black;
	font-family: "Comic Neue", cursive;
	font-weight: 300;
	font-style: normal;
}

* {
	border: 1px dashed red;
	min-height: 10px;
}
.postcard {
	background-color: white;
	strong
	width: 400px;
	height: 300px;
	margin: auto;
}
.postcard-header {
	display: flex;
}
.postcard-header img {
	width: 50px;
	height: 50px;
}
.postcard-header h1 {
	margin: 0px;
	width: 3000px;
}
.postcard-body {
	display: flex;
}
.body-left p:first-child {
	margin-top: 0%;
	font-size: medium;
}
.body-left,
.body-right {
	padding: 10%;
}
input {
	border: none;
	border-bottom: 20%;
}
.postcard-footer {
	text-align: center;
}
button {
	background-color: gray;
	font-family: "Comic Neue", cursive;
	font-style: normal;
	padding: 3%;
}
